node_modules/
.git/
devlog/
skills_ref/
tests/
*.db
*.db-shm
*.db-wal
.env
.DS_Store
.artifacts/
dist/

# Private records belong exclusively in the sibling cli-jaw-internal repository.
# Match files, symlinks and directories at any depth, including case variants.
[dD][eE][vV][lL][oO][gG]
[dD][eE][vV][lL][oO][gG][._-]*
[cC][lL][iI]-[jJ][aA][wW]-[iI][nN][tT][eE][rR][nN][aA][lL]
_[pP][lL][aA][nN]
_[fF][iI][nN]
.[jJ][wW][cC]

**/[dD][eE][vV][lL][oO][gG]
**/[dD][eE][vV][lL][oO][gG][._-]*
**/[cC][lL][iI]-[jJ][aA][wW]-[iI][nN][tT][eE][rR][nN][aA][lL]
**/_[pP][lL][aA][nN]
**/_[fF][iI][nN]
**/.[jJ][wW][cC]
